{#
{% extends "base.html" %}
{% block content %}
<h1 class="title">
	 -- content from base.html ---
</h1>
{% endblock content %}
#}

{% extends "juice/templates/index.html" %}
{% block hero %}
       <script async defer src="https://buttons.github.io/buttons.js"></script>
        <section class="text-center">
            <h2 class="heading-text" style="font-size: 50px">
            </h2>
            <h4 class="title-text">
                 We are a non-profit organization on a mission to serve the community in
                 need irrespective of their location. Children are the backbone of our
                 society and the best way to fulfil our mission is to spreading the power
                 of education among under-privileged children. There is no greater pillar
                 of stability than a strong, free, and educated child. We strongly believe
                 in the power of education by which character is formed, strength of
                 one’s mind is increased, and the intellect is expanded.

            </h3>
        </section>:
        <img class="hero-image" style="width: 20%" src="{{ get_url(path=config.extra.juice_logo_path) }}">

        {#
        <div class="explore-more text" 
            onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
            Explore More ⇩
        </div>
        #}
        <style>
            .hero section {
                padding: 0 5rem;
            }
            @media screen and (max-width: 768px) {
                .hero section {
                    padding: 0 2rem;
                }

                .hero-image {
                    display: none
                }
            }
        </style>

{% endblock hero %}
{% block content %}
{#
            <div id="features" class="heading-text">Mission</div>
            <div id="subtext" class="subtext">
            </div>
            {{ section.content | safe }}
#}
{% endblock content %}
 
