{#
{% extends "base.html" %}
{% block content %}
<h1 class="title">
	 -- content from base.html ---
</h1>
{% endblock content %}
#}

{% extends "juice/templates/index.html" %}
{% block hero %}
       <script async defer src="https://buttons.github.io/buttons.js"></script>
        <section class="text-center">
            <h2 class="heading-text" style="font-size: 50px">
                The home page of helpmalawi 
            </h2>
            <h3 class="title-text">
                <b>HelpMalawi.org</b> is a website to extend help to the country of Malawi.
            </h3>
        </section>
        <img class="hero-image" style="width: 20%" src="{{ get_url(path=config.extra.juice_logo_path) }}">

        <div class="explore-more text"
            onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
            Explore More ⇩
        </div>
        <style>
            .hero section {
                padding: 0 5rem;
            }
            @media screen and (max-width: 768px) {
                .hero section {
                    padding: 0 2rem;
                }

                .hero-image {
                    display: none
                }
            }
        </style>
{% endblock hero %}
